html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
a img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
p {
  word-wrap: break-word;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  clear: both;
}
input, select {
  vertical-align: middle;
}
/* the true leading = line height - font size */
/* body font size in percentages */
/* line height in ems *//* convert to em */
/* convert to em */
body {
  font-size: 75%;
  line-height: 1.5em;
  font-family: Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: bold;
}
.gigantic {
  font-size: 20em;
  line-height: 1.05em;
  margin-bottom: 10px;
}
h1, .huge {
  font-size: 5em;
  line-height: 1.2em;
}
h2, .large {
  font-size: 4em;
  line-height: 1.125em;
}
h3, .bigger {
  font-size: 3em;
  line-height: 1em;
}
h4, .big {
  font-size: 2em;
  line-height: 1.125em;
  margin-bottom: 0.75em;
  margin-top: 0.375em;
}
h5, .strong {
  font-size: 1.5em;
  line-height: 0.25em;
  margin-bottom: 1em;
  margin-top: 0.25em;
}
h6, .small, small {
  font-size: 1em;
  line-height: 0.16666666666666666em;
  margin-bottom: 1.5em;
  margin-top: 0.16666666666666666em;
}
p {
  margin-bottom: 1.5em;
  word-wrap: break-word;
}
em {
  font-style: italic;
}
/* ================== //
// =    hgroups     = //
// ================== */
/*
 * coudal
 * timoni
 * ale
 * noob
 * */
hgroup.coudal h1 {
  font-family: times, Times New Roman, times-roman, georgia, serif;
  color: #444;
  margin: 0;
  padding: 0px 0px 6px 0px;
  font-size: 51px;
  line-height: 44px;
  letter-spacing: -2px;
  font-weight: bold;
}
hgroup.coudal h2 {
  font-family: Gill Sans, Verdana;
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
hgroup.timoni h1 {
  font-size: 12px;
  font-family: Georgia, 'Times New Roman', serif;
  color: #000;
  text-align: center;
  font-weight: 100;
}
hgroup.timoni h2 {
  font-family: 'Hoefler Text', Georgia, 'Times New Roman', serif;
  font-weight: normal;
  font-size: 1.75em;
  letter-spacing: .2em;
  line-height: 1.1em;
  margin: 0px;
  text-align: center;
  text-transform: uppercase;
}
hgroup.ale h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: center;
  font-weight: normal;
  color: #222;
}
hgroup.ale h2 {
  font-family: "Lucida Grande", Tahoma;
  font-size: 10px;
  font-weight: lighter;
  font-variant: normal;
  text-transform: uppercase;
  color: #666666;
  margin-top: 6px;
  text-align: center!important;
  letter-spacing: 0.3em;
}
hgroup.noob h1 {
  font-size: 85%;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #bbb;
  font-size: 10px;
  font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  font-weight: 100;
  float: right;
  clear: both;
}
hgroup.noob h2 {
  font: bold 34px "Century Schoolbook", Georgia, Times, serif;
  color: #333;
  line-height: 90%;
  margin: .2em 0 .4em 0;
  letter-spacing: -2px;
  float: right;
  clear: both;
}
hgroup.noob h3 {
  color: #76879b;
  font-size: 10px;
  margin: 0 5px 5px 5px;
  font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  font-size: 11px;
  clear: both;
  text-align: right;
  line-height: 3px;
}
/* ================== //
// =    fonts       = //
// ================== */
p.twisted {
  color: #424242;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 40px auto;
  text-transform: lowercase;
  line-height: 145%;
  font-size: 14pt;
  font-variant: small-caps;
}
p.twisted:first-letter {
  text-transform: uppercase;
}
.dropcap:first-letter {
  float: left;
  color: #903;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: Georgia;
}
p.press {
  background: #474747;
  color: #222;
  padding: 10px;
  text-shadow: #555555 0 2px 3px;
}
p.presslight {
  color: #eee;
  background-color: #ddd;
  text-shadow: 0px -1px 2px #374683;
  padding: 10px;
}
blockquote {
  margin: 1em 3em;
  color: #999;
  border-left: 2px solid #999;
  padding-left: 1em;
}
blockquote.mag {
  float: right;
  font-family: Georgia, Arial, Serif;
  font-size: 1.25em;
  background: none;
  width: 150px;
  border-top: #4C739E 3px solid;
  border-bottom: #4C739E 3px solid;
  border-left: none;
  margin: 1em;
  padding: 1em;
  color: #4C739E;
}
pre {
  border: 1px dashed #E1E1E1;
  color: #333344;
  background: #FAFAFA;
  font-family: monospace;
  overflow: auto;
  font-size: 11px;
  padding: 0.5em;
}
/* site containers layout 
---------------------------------------- */
/* end site container layout */
hr {
  clear: both;
}
p {
  word-wrap: break-word;
}
blockquote {
  margin: 1em 3em;
  color: #999;
  border-left: 2px solid #999;
  padding-left: 1em;
}
pre {
  border: 1px dashed #E1E1E1;
  color: #333344;
  background: #FAFAFA;
  font-family: monospace;
  overflow: auto;
  font-size: 11px;
  padding: 0.5em;
}
/*****************************
        fluid
 ****************************/
/* use c6 or c4 with row to setup column width                   */
/* use nested .row.c6 or .c4 to establish 12 and 8 column layout */
/* use .last to kill the margin at the last column               */
#grid .c4 .row,
#grid .c6 .row,
#grid .c4 .row .row,
#grid .c6 .row .row {
  width: 100%;
  margin: 5px auto;
  clear: both;
  display: block;
  position: relative;
}
#grid .c4 .row .row, #grid .c6 .row .row {
  margin: 0;
  position: relative;
}
#grid .c4 .col, #grid .c6 .col {
  margin-right: 2.6%;
  float: left;
}
#grid .c4 .last, #grid .c6 .last {
  margin-right: 0;
  float: right;
}
.c4 .g1 {
  width: 23.05%;
}
.c4 .g3 {
  width: 74.35%;
}
.c6 .g1 {
  width: 14.5%;
}
.c6 .g2 {
  width: 31.6%;
}
.c6 .g4 {
  width: 65.8%;
}
.c6 .g5 {
  width: 82.9%;
}
.c4 .g2, .c6 .g3 {
  width: 48.7%;
}
.c4 .g4, .c6 .g6 {
  width: 100%;
  margin: 0;
}
/* Form
---------------------------------------- */
fieldset {
  padding: 1em;
}
legend {
  font-weight: bold;
  padding: 0 .25em;
}
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: 1em;
}
input[type=button],
input[type=file],
input[type=image],
input[type=reset],
input[type=submit],
button[type=button],
button[type=reset],
button[type=submit] {
  cursor: pointer;
  line-height: 1;
}
input[type=text], input[type=password], textarea {
  padding: 1px;
}
textarea {
  line-height: 1.25;
  text-align: left;
}
/* Table
---------------------------------------- */
table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1.3;
}
caption, th, td {
  text-align: left;
  vertical-align: top;
}
th, td {
  border: 1px solid;
  padding: .5em 1em;
}
caption {
  padding-bottom: 1em;
}
th {
  font-weight: bold;
}
dl {
  padding: 10px;
}
dl dt {
  margin-top: 10px;
}
dl dd {
  margin: 5px 0 5px 20px;
}
dl.table {
  margin-bottom: 50px;
}
dl.table dt {
  background: #5f9be3;
  color: #fff;
  float: left;
  font-weight: bold;
  margin-right: 10px;
  padding: 5px;
  width: 100px;
}
dl.table dd {
  margin: 2px 0;
  padding: 5px 0;
}
/* nav */
.hnav .clear li {
  float: left;
  display: block;
}
/* clear */
.clear {
  clear: both;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: inline-block;
}
/* image */
.fullscale {
  width: 100%;
  min-width: 100%;
  height: auto;
}
/* float */
.fright {
  float: right;
}
.fleft {
  float: left;
}
/* selections */
::selection {
  background: #ffff9e;
}
::-moz-selection {
  background: #ffff9e;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  -webkit-tap-highlight-color: #ffff9e;
}
/*
 * #border      > .border-radius    ( radius                                                                              );
 *              > .multi-radius     ( topleft, topright, bottom right, bottom left                                        );
 *
 * #shadow      > .box-shadow       ( horz:0px, vert:1px, blur:2px, color:#ccc                                            );
 *              > .inset-box-shadow ( horz:0px, vert:1px, blur:2px, color: #ccc                                           );
 *              > .test-shadow      ( color:#ccc, @arg: 0px 0px 20px                                                      );
 *
 * #gradient    > .v                ( colorstart:#efefef, colorend:595959                                                 );
 *              > .h                ( colorstart:#efefef, colorend:595959                                                 );
 *              > .v3               ( colorstart:, colormiddle, middleposition, colorend                                  );
 *              > .h3               ( colorstart:, colormiddle, middleposition, colorend                                  );
 *              > .v4               ( colorstart:, color2, pos2, color3, pos3, colorend                                   );
 *              > .h4               ( colorstart:, color2, pos2, color3, pos3, colorend                                   );
 *
 * #animate     > .transition       ( property[width], duration[2s], timing[linear, ease, ease-in, ease-out, ], delay[2s] );
 *              > .transform        ( @val                                                                                );
 *              > .skew             ( angle x:35, angle y:0                                                               );
 *              > .scale            ( scale-x:1                                                                           );
 *              > .rotate           ( angle:35                                                                            );
 *              > .translate        ( move-x:10px, move-7:10px                                                            );
 *
 * #transparent > .background       ( color: @white; @alpha:1                                                             );
 *              > .border           ( color:@white, alpha:1                                                               );
 *              > .opacity          ( 100                                                                    ); this is in %
 *
 *  .box-sizing ( @val:border-box );
 *  .size ( width:5px, height:5px );
 *  .content-columns ( count, gap );
 */
#gradient {
  /* Top-to-Bottom Gradient */

  /* Left-to-Right Gradient */

  /* Top-to-Bottom 3 Stop Gradient */

  /* Left-to-Right 3 Stop Gradient */

  /* Top-to-Bottom 4 Stop Gradient */

  /* Left-to-Right 4 Stop Gradient */

}
/* ========================= //
// =Scrollbars like twitter= //
// ========================= */
/* 
 * button: .button ( color:#f5f5f5, textcolor:333, paddding: 9px 10px 0 10px, borderradius:6px )
 * button: .callToAction ( #fff )
 */
/* ========================= //
// =   css3 form           = //
// ========================= */
.sexyform form {
  border: 1px solid #270644;
  width: 250px;
  margin: 50px auto;
  padding: 20px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 20px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 -5px 60px #270644;
  -moz-box-shadow: 0 -5px 60px #270644;
  box-shadow: 0 -5px 60px #270644;
  background: -moz-linear-gradient(19% 75% 90deg, #4e0085, #963ad6);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#963ad6), to(#4e0085));
}
.sexyform label {
  font-size: 12px;
  font-family: arial, sans-serif;
  list-style-type: none;
  color: #fff;
  text-shadow: #000 1px 1px;
  margin-bottom: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
}
.sexyform input {
  -webkit-transition-property: -webkit-box-shadow, background;
  -webkit-transition-duration: 0.25s;
  padding: 6px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 1px solid #ad64e0;
  -moz-box-shadow: 0px 0px 2px #000;
  -webkit-box-shadow: 0px 0px 2px #000;
  margin-bottom: 10px;
  background: #8a33c6;
  width: 230px;
}
.sexyform input:hover {
  -webkit-box-shadow: 0px 0px 4px #000;
  background: #9d39e1;
}
.sexyform input.submit {
  -webkit-transition-property: -webkit-box-shadow, background;
  -webkit-transition-duration: 0.25s;
  width: 100px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#963ad6), to(#781bb9));
  background: -moz-linear-gradient(19% 75% 90deg, #781bb9, #963ad6);
  color: #fff;
  text-transform: uppercase;
  text-shadow: #000 1px 1px;
  border-top: 1px solid #ad64e0;
  margin-top: 10px;
}
.sexyform input.submit:hover {
  -webkit-box-shadow: 0px 0px 2px #000;
  -webkit-box-shadow: 0 0 2 p #000000;
  -moz-box-shadow: 0 0 2 p #000000;
  box-shadow: 0 0 2 p #000000;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#963ad6), to(#781bb9));
  background: -moz-linear-gradient(19% 75% 90deg, #781bb9, #963ad6);
}
.sexyform input.submit:active {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#781bb9), to(#963ad6));
  background: -moz-linear-gradient(19% 75% 90deg, #963ad6, #781bb9);
}
/* Grays *//* Accent Colors */
html {
  overflow: none;
}
/*
************************
    basic setup
************************
 */
body {
  /* padding , overflow */

  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  overflow: scroll;
  overflow-x: hidden;
}
#site {
  /* width , height , bgcolor */

  position: relative;
  z-index: 2;
  max-width: 100%;
  margin: auto;
  height: 100%;
  width: 960px;
  background-color: #ffffff;
}
/* font type */
/* | font size in px     | */
/* | line height in "px" | */
/* font link color */
a {
  color: #32851b;
}
a:hover {
  color: #225b12;
}
/*
************************
    structure
************************
 */
header {
  text-shadow: #eeeeee 1px 0 20px;
}
header .row, header .row .row {
  width: 100%;
  margin: 5px auto;
  clear: both;
  display: block;
  position: relative;
}
header .row .row {
  margin: 0;
  position: relative;
}
header .col {
  margin-right: 2.6%;
  float: left;
}
header .last {
  margin-right: 0;
  float: right;
}
section#hgroups .row, section#hgroups .row .row {
  width: 100%;
  margin: 5px auto;
  clear: both;
  display: block;
  position: relative;
}
section#hgroups .row .row {
  margin: 0;
  position: relative;
}
section#hgroups .col {
  margin-right: 2.6%;
  float: left;
}
section#hgroups .last {
  margin-right: 0;
  float: right;
}
section#buttons {
  width: 100%;
}
section#buttons .row, section#buttons .row .row {
  width: 100%;
  margin: 5px auto;
  clear: both;
  display: block;
  position: relative;
}
section#buttons .row .row {
  margin: 0;
  position: relative;
}
section#buttons .col {
  margin-right: 2.6%;
  float: left;
}
section#buttons .last {
  margin-right: 0;
  float: right;
}
section#buttons .round {
  padding: 5px;
  background-color: green;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 20px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-clip: padding-box;
  -webkit-box-shadow: 2px 2px 4px #eeeeee;
  -moz-box-shadow: 2px 2px 4px #eeeeee;
  box-shadow: 2px 2px 4px #eeeeee;
}
section#buttons .btn {
  display: inline-block;
  background: #cb1b15;
  background-image: -moz-linear-gradient(top, #dd231d, #ba130d);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dd231d), to(#ba130d));
  background-image: -webkit-linear-gradient(top, #dd231d, #ba130d);
  background-image: -o-linear-gradient(top, #dd231d, #ba130d);
  background-image: linear-gradient(top, #dd231d, #ba130d);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#dd231d, endColorstr=#ba130d)";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#dd231d, endColorstr=#ba130d)";
  background-image: -ms-linear-gradient(top, #ba130d, #ba130d);
  padding: 9px 10px 0 10px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: white;
  line-height: 20px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25) 1px 2px #cccccc;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25) 1px 2px #cccccc;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25) 1px 2px #cccccc;
}
section#buttons .btn a {
  color: white;
  text-decoration: none;
}
section#buttons .btn:hover {
  background-position: 0 -15px;
  color: white;
  text-decoration: none;
}
section#buttons .callto {
  clear: both;
  margin: 6px auto;
  padding: 9px 6px;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.2) -1px 0, rgba(0, 0, 0, 0.2) 0 -1px, rgba(255, 255, 255, 0.2) 0 1px;
  text-align: center;
  border: 1px solid #ababab;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 6px;
  -moz-background-clip: padding-box;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 2px #ababab 1px 2px #cccccc;
  -moz-box-shadow: 0px 0px 2px #ababab 1px 2px #cccccc;
  box-shadow: 0px 0px 2px #ababab 1px 2px #cccccc;
  background: #efefef;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 46%, #dddddd 54%, #dddddd);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(0.46, #ffffff), color-stop(0.54, #dddddd), to(#dddddd));
  background-image: -webkit-linear-gradient(top, from(#ffffff), color-stop(0.46, #ffffff), color-stop(0.54, #dddddd), to(#dddddd));
  background-image: -o-linear-gradient(top, #ffffff 0%, #ffffff 46%, #dddddd 54%, #dddddd 100%);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#dddddd)";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#dddddd)";
  background-image: linear-gradient(top, #ffffff 0%, #ffffff 46%, #dddddd 54%, #dddddd 100%);
}
section#buttons .callto a {
  text-decoration: none;
}
section#buttons .callto:hover {
  color: #fff;
  background: #dbdbdb;
  background-image: -moz-linear-gradient(top, #ececec, #ececec 46%, #c9c9c9 54%, #c9c9c9);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ececec), color-stop(0.46, #ececec), color-stop(0.54, #c9c9c9), to(#c9c9c9));
  background-image: -webkit-linear-gradient(top, from(#ececec), color-stop(0.46, #ececec), color-stop(0.54, #c9c9c9), to(#c9c9c9));
  background-image: -o-linear-gradient(top, #ececec 0%, #ececec 46%, #c9c9c9 54%, #c9c9c9 100%);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ececec, endColorstr=#c9c9c9)";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ececec, endColorstr=#c9c9c9)";
  background-image: linear-gradient(top, #ececec 0%, #ececec 46%, #c9c9c9 54%, #c9c9c9 100%);
}
section#buttons .callto:active {
  color: #fff;
  background: #c7c7c7;
  background-image: -moz-linear-gradient(top, #d8d8d8, #d8d8d8 46%, #b5b5b5 54%, #b5b5b5);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d8d8d8), color-stop(0.46, #d8d8d8), color-stop(0.54, #b5b5b5), to(#b5b5b5));
  background-image: -webkit-linear-gradient(top, from(#d8d8d8), color-stop(0.46, #d8d8d8), color-stop(0.54, #b5b5b5), to(#b5b5b5));
  background-image: -o-linear-gradient(top, #d8d8d8 0%, #d8d8d8 46%, #b5b5b5 54%, #b5b5b5 100%);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#d8d8d8, endColorstr=#b5b5b5)";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#d8d8d8, endColorstr=#b5b5b5)";
  background-image: linear-gradient(top, #d8d8d8 0%, #d8d8d8 46%, #b5b5b5 54%, #b5b5b5 100%);
}
section#img .row, section#img .row .row {
  width: 100%;
  margin: 5px auto;
  clear: both;
  display: block;
  position: relative;
}
section#img .row .row {
  margin: 0;
  position: relative;
}
section#img .col {
  margin-right: 2.6%;
  float: left;
}
section#img .last {
  margin-right: 0;
  float: right;
}
section#img .img {
  overflow: auto;
  padding-right: 5px;
  height: 290px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section#img .img::-webkit-scrollbar {
  width: 7px;
  height: 9px;
}
section#img .img::-webkit-scrollbar-button:start:decrement, section#img .img::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 0;
  background-color: transparent;
}
section#img .img::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
}
section#img .img::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
}
section#img .img::-webkit-scrollbar-thumb:horizontal {
  width: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
}
section#listing {
  width: 100%;
}
section#listing .row, section#listing .row .row {
  width: 100%;
  margin: 5px auto;
  clear: both;
  display: block;
  position: relative;
}
section#listing .row .row {
  margin: 0;
  position: relative;
}
section#listing .col {
  margin-right: 2.6%;
  float: left;
}
section#listing .last {
  margin-right: 0;
  float: right;
}
section#listing .grad {
  background: #a4a4a4;
  background-image: -moz-linear-gradient(left, #efefef, #595959);
  background-image: -webkit-gradient(linear, left center, right center, from(#efefef), to(#595959));
  background-image: -webkit-linear-gradient(left center, right center, from(#efefef), to(#595959));
  background-image: -o-linear-gradient(left, #efefef, #595959);
  background-image: linear-gradient(left, #efefef, #595959);
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#595959, GradientType=1)";
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#595959, GradientType=1)";
  background-image: -ms-linear-gradient(left, #595959, #595959);
}
.gcon4 .row, .gcon4 .row .row {
  width: 100%;
  margin: 5px auto;
  clear: both;
  display: block;
  position: relative;
}
.gcon4 .row .row {
  margin: 0;
  position: relative;
}
.gcon4 .col {
  margin-right: 2.6%;
  float: left;
}
.gcon4 .last {
  margin-right: 0;
  float: right;
}
section#precon .row, section#precon .row .row {
  width: 100%;
  margin: 5px auto;
  clear: both;
  display: block;
  position: relative;
}
section#precon .row .row {
  margin: 0;
  position: relative;
}
section#precon .col {
  margin-right: 2.6%;
  float: left;
}
section#precon .last {
  margin-right: 0;
  float: right;
}
/* ================== //
// =  media screen  = //
// ================== */
/* --------------- 1800 extra large --------- */
@media only screen and (min-width : 1724px) {
  
}
/* --------------- 1280 laptop/desktop ------ */
@media only screen
and (min-width: 1224px) {
  #site {
    width: 1220px;
    background-color: green;
  }
}
/* --------------- 1024 netbook ------------- */
@media only screen
and (min-width: 992px) {
  #site {
    width: 980px;
    background-color: white;
  }
}
/* --------------- 320 mobile --------------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  #site {
    min-width: 320px;
  }
}
/* --------------- 480px mobile ------------- */
@media only screen
and (min-width: 480px)
and (max-width: 767px) {
  #site {
    min-width: 480px;
    background-color: red;
  }
  #site .c4 .g1 {
    min-width: 480px;
  }
}
/* --------------- iPads (landscape) -------- */
@media only screen  and (orientation : landscape) 
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  #site {
    min-width: 1024px;
  }
}
/* --------------- iPads (portrait) --------- */
@media only screen and (orientation : portrait) 
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  #site {
    min-width: 768;
    background-color: blue;
  }
}
