.btn, button {
    color: #333;
    background-color: #eeeeee;
    width: 130px; 
    padding: 8px 5px;

    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;

    text-align: center;
    text-shadow: 0 1px 0 #eee;
    font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;

    #border > .border-radius(3px);
    #gradient > .v (#eee, #ccc);
}

    .btn:hover, button:hover {
        background-color: #dddddd;

        border: 1px solid #bbb;
        border-bottom: 1px solid #999;

        cursor: pointer;
        text-shadow: 0 1px 0 #ddd; 

        #gradient > .v (#ddd, #bbb);
    }

    .btn:active, button:active {
        border: 1px solid #aaa;
        border-bottom: 1px solid #888;
        #shadow > .inset-box-shadow( 0,0,5px,2px, #aaa, 0 1px 0 0 #eee);
    }

/* minimal indent (inspired by okcupid iphone interface)
 *******************************************************************************/
button.minimal-indent {
    border-right:   1px solid #dfdfdf;
    border-bottom:  1px solid #b4b4b4;
    border-right:   1px solid #dfdfdf;

    margin:         0;
    width:          150px;
    padding:        7px 0;
    background:     #f3f3f3;

    color:          #666;
    text-shadow:    0 1px 1px #fff;
    font:           bold 16px "helvetica neue", helvetica, arial, sans-serif;

    #border > .radius (5px);
    #gradient > .v4(#f3f3f3, #ddd, 50, #d2d2d2, 50, #dfdfdf);
    #shadow > .inset3( 0 1x 0 0 white, 0 1px 0 0 #d5d5d5, 0 -1px 2px 1px #efefef );
}

button.minimal-indent:hover {
    background: #e5e5e5;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5 0%), to(#d1d1d1 50%));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%);
    background-image: -moz-linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%);
    background-image: -ms-linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%);
    background-image: -o-linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%);
    background-image: linear-gradient(top, #e5e5e5 0%, #d1d1d1 50%, #c4c4c4 50%, #b8b8b8 100%);

    #shadow > .inset3( 0 1px 0 0 #f2f2f2, 0 1px 0 0 #c9c9c9, 0 -1px 2px 1px #e3e3e3 );
}

button.minimal-indent:active {
    #shadow > .inset2( 0 0 30px 0 #999999, 0 1px 0 0 white );
}



/*  <button disabled="disabled" >Submit</button> */
    button[disabled],
    button[disabled]:hover,
    button[disabled]:active {
        border: 0;
        color: #aaa;
        background: #999;
        text-shadow: none; 
        cursor: not-allowed;
        #shadow > .shadow(none);
}




///* buttons
//---------------------------------------- */
//button {
//    cursor:pointer;
//    padding:5px 20px;
//    background:@white;
//    border:1px solid #eee;
//    #border > .border-radius;
//    #shadow > .box-shadow(1px,1px,5px,#eee);
//    #shadow > .text-shadow(1px 0px 1px, #888);
//}
//
///* shapes */
//button.pill   { #border > .border-radius(30px); }
//button.strong { @h:35px; height:@h; min-height:@h; max-height:@h; padding:5px 10px; }
//button.small  { @h:25px; height:@h; min-height:@h; max-height:@h; padding:3px 6px; }
//
///* colours */
//button.blue,
//button.green,
//button.yellow,
//button.pink,
//button.orange,
//button.red,
//button.sky,
//button.lime,
//button.primary { color:white; }
//
//.defaultBtn ( @color: @grey ) { 
//
//    background-color:@color;
//    border:1px solid darken(@color,5%);
//    &:hover { background-color:lighten(@color,10%); border:1px solid lighten(@color,5%); }
//    
//}
//
//button.blue   { .defaultBtn (@blue); }
//button.green  { .defaultBtn (@green); }
//button.yellow { .defaultBtn (@yellow); }
//button.pink   { .defaultBtn (@pink); }
//button.orange { .defaultBtn (@orange); }
//button.red    { .defaultBtn (@red); }
