/*****************************
fluid
 ****************************/
/* default 12, up to 16, use @grids to change between 4 to 16 !note! its always smart to use more grids if the project is not planned before hand.
 *
 * @classes
 * .last : kill last margin
 * .row or .row.row to create full width containers,
 * .col default column style
 * .g1 to .g12 for grids
 * */

//grids variable doubled in style.less
//@grids: 12; //# of grids, up to 16
//@gut: 2.8%; //gutter width

.row, .row .row { position:relative; width:100%; margin:5px auto; clear:both; display:block; }
.col {  float:left; margin-right: @gut; display:block;}
.last { margin-right:0; float:right; clear:right; }

//calc
@content : 100 + @gut; 
@col: @content / @grids - @gut;
@fullcol : @col + @gut;

.singlecol ( @grid : 1 ) { width: ( @col + @gut) * @grid - @gut; }
.g1  { .singlecol(1) }
.g2  { .singlecol(2) }
.g3  { .singlecol(3) }
.g4  { .singlecol(4) }
.g5  { .singlecol(5) }
.g6  { .singlecol(6) }
.g7  { .singlecol(7) }
.g8  { .singlecol(8) }
.g9  { .singlecol(9) }
.g10 { .singlecol(10) }
.g11 { .singlecol(11) }
.g12 { .singlecol(12) }
.g13 { .singlecol(13) }
.g14 { .singlecol(14) }
.g15 { .singlecol(15) }
.g16 { .singlecol(16) }

.push(@grid:1) { margin-left: (@grid * @fullcol ) }
.p1 { .push(1) }
.p2 { .push(2) }
.p3 { .push(3) }
.p4 { .push(4) }
.p5 { .push(5) }
.p6 { .push(6) }
.p7 { .push(7) }
.p8 { .push(8) }
.p9 { .push(9) }
.p10 { .push(10) }
.p11 { .push(11) }
.p12 { .push(12) }
.p13 { .push(13) }
.p14 { .push(14) }
.p15 { .push(15) }
