/* site containers layout 
---------------------------------------- */
#sitebase {

    .body (@padding: 0, @overflow:  scroll) {
        width:           100%;
        height:          100%;
        position:        relative;
        margin:          auto;
        text-rendering:  optimizeLegibility;
        -webkit-text-size-adjust: 100%;
        padding:         @padding;
        overflow:        @overflow;
    }

    .site (@siteWidth:960px, @siteHeight: 100%, @siteBgColor: #fff) {
        position:          relative;
        z-index:           2;
        max-width:         100%;
        margin:            auto;
        height:            @siteHeight;
        width:             @siteWidth;
        background-color:  @siteBgColor;
    }
}

/* end site container layout */


hr{ clear:both; }
p { word-wrap:break-word; }
blockquote { margin: 1em 3em; color: #999; border-left: 2px solid #999; padding-left: 1em; }
pre { border:1px dashed #E1E1E1; color:#333344; background:#FAFAFA; font-family:monospace; overflow:auto; font-size:11px; padding:0.5em; }

/* ordered list */
ol { counter-reset: olfirst; /* our father OL must have olfirst item reseted */ }
ol ol { counter-reset: olsecond; /* our sub OL's reset the olsecond, third must to be olthird and so on */ }
ol ol ol { counter-reset: olthird; /* our sub OL's reset the olsecond, third must to be olthird and so on */ }
    ol li {
        counter-increment: olfirst; /* when we have a item that is children of first OL, it increases first counter*/
    }
    ol li ol li {
        counter-increment: olsecond; /* when the item is children of a OL that is children of another OL, so it is a sub OL */
    }
    ol li ol li ol li {
        counter-increment: olthird; /* when the item is children of a OL that is children of another OL, so it is a sub OL */
    }
    ol li:before {
        content: counter(olfirst) " - "; /* let's output our pretty number */
    }
    ol li ol li:before {
        content: counter(olfirst) "." counter(olsecond) "." counter(olthird) " - "; /* let's output our "sub-number" */
    }

/* step ordered list */
.step {
    h1 {
        counter-increment: first;
        counter-reset:second;
        font-size:2.5em;
        font-weight:bold;
    }
    h1:before { content: "Step " counter(first) " - "; }
    h2 {
        counter-increment: second;
        counter-reset:third;
        font-size:2.0em;
        font-weight:bold;
    }
    h2:before { content: "Step " counter(second) " - "; }
    h3 {
        counter-increment: third;
        font-size:1.5em;
        font-weight:bold;
    }
    h3:before {
        content: counter(first) "." counter(second) "." counter(third) "-";
    }
}


