/* nav */
.hnav {
    .clear
    li { float:left; display:block; }
}

/* clear */
.clear          { clear:both; }
.clearfix       { display: inline-block; }
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }

/* image */
.fullscale { width:100%; min-width:100%; height: auto; }

/* float */
.fright { float: right; }
.fleft { float:left; }

/* text align */
.justify { text-align:justify; }
.textl { text-align:left }
.textr { text-align:right }
.textc { text-align:center }
.textinnerc {
    div, p, span { text-align:center; }
}

/* selections */
::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}

/* background color */
.backgrey { background-color:#eee; }
.backblue { background-color:#77d7f9; }


.overhide { overflow:hidden}


.bgrey    {background-color: @grey                 }
.bgrey1   {background-color: lighten(@grey, 20%)   }
.bgrey2   {background-color: darken( @grey, 20%)   }

.bblue    {background-color: @blue                 }
.bblue1   {background-color: lighten(@blue, 20%)   }
.bblue2   {background-color: darken( @blue, 20% )  }

.bgreen   {background-color: @green                }
.bgreen1  {background-color: lighten(@green, 20%)  }
.bgreen2  {background-color: darken( @green, 20%)  }

.bred     {background-color: @red                  }
.bred1    {background-color: lighten(@red, 20%)    }
.bred2    {background-color: darken( @red, 20% )   }

.byellow  {background-color: @yellow               }
.byellow1 {background-color: lighten(@yellow, 20%) }
.byellow2 {background-color: darken( @yellow, 20%) }

.borange  {background-color: @orange               }
.borange1 {background-color: lighten(@orange, 20%) }
.borange2 {background-color: darken( @orange, 20%) }

.bpink    {background-color: @pink                 }
.bpink1   {background-color: lighten(@pink, 20%)   }
.bpink2   {background-color: darken( @pink, 20% )  }

.bpurple  {background-color: @purple               }
.bpurple1 {background-color: lighten(@purple, 20%) }
.bpurple2 {background-color: darken( @purple, 20%) }

.white { color:@white }
.green { color:@green }
.blue  { color:@blue }
.white { color:@white }

