/* nav */
.hnav {
    .clear
    li { float:left; display:block; }}

/* clear */
.clear          { clear:both; }
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix       { display: inline-block; }

/* image */
.fullscale { width:100%; min-width:100%; height: auto; }

/* float */
.fright { float: right; }
.fleft { float:left; }




/* selections */
::selection 	 	{background: rgb(255,255,158);}
::-moz-selection 	{background: rgb(255,255,158);}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}
