@import "_reset";
@import "_font";
@import "_layout";
@import "_grid";
@import "_formtable";
@import "_utility";
@import "_mixin";
@import "_modules";
@import "_var";

html {
    overflow:none;
}
 
/*
************************
    basic setup
************************
 */

body {             /* padding , overflow */
    #sitebase > .body(0       , scroll);
    overflow-x:hidden;
}

#site{              /* width , height , bgcolor */
    #sitebase > .site( 960px , 100%   , #fff)
}

/* font type */
@fontpx:12; /* | font size in px     | */
@linepx:18; /* | line height in "px" | */
@fontfamily: Arial, sans-serif; 

/* font link color */
a {
    @linkColor      : #32851b;
    @linkColorHover : darken(@linkColor, 10);

    color:           @linkColor;
    &:hover { color: @linkColorHover; }
}

/*
************************
    structure
************************
 */

header {
    #grid > .c4;
        #shadow > .text-shadow( #eee, 1px 0 20px );
}

section#hgroups {
    #grid > .c4;
}

section#buttons {
    #grid > .c6;
    width:100%;
    .round {
        padding:5px;
        background-color:green;
        #border > .border-radius(20px);
        #shadow > .box-shadow( 2px, 2px, 4px, #eee);
    }
    .btn {
        .btn_bar( #dd231d, white, 9px 10px 0 10px, 6px );
    }
    .callto {
        .coolbtn(#ddd, 15px);
    }
}

section#img {
    #grid > .c6;
    .img {
        .scrollbar;
        height: 290px;
        .box-sizing;
    }
}

section#listing {
    #grid > .c6;
    width:100%;
    .grad {
        #gradient > .h;
    }
}

.gcon4 {
    #grid > .c4;
}

section#precon {
    #grid > .c6;
}

footer {}

/* ================== //
// =  media screen  = //
// ================== */

/* --------------- 1800 extra large --------- */
@media only screen and (min-width : 1724px) {}

/* --------------- 1280 laptop/desktop ------ */
@media only screen
and (min-width: 1224px) {
    body {  }
    #site { width: 1220px; background-color:green;}
}

/* --------------- 1024 netbook ------------- */
@media only screen
and (min-width: 992px) {
    body {  }
    #site { width: 980px;  background-color:white;}
}


/* --------------- 320 mobile --------------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    body {  }
    #site { min-width: 320px; }
}

/* --------------- 480px mobile ------------- */
@media only screen
and (min-width: 480px)
and (max-width: 767px) {
    body {  }
    #site {
        min-width: 480px;
        background-color:red;
        .c4 .g1 { min-width: 480px; }
    }
}

/* --------------- iPads (landscape) -------- */
@media only screen  and (orientation : landscape) 
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    body {  }
    #site { min-width: 1024px; }
}

/* --------------- iPads (portrait) --------- */
@media only screen and (orientation : portrait) 
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    body {  }
    #site { min-width: 768; background-color:blue; }
}
